/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}

body{
    font-family: var(--font-family) !important;
    background-color: var(--light-color);
    overflow-x: hidden;
}

.rating-color{
    color: var(--rating-color);
}

.cursor-pointer{
    cursor: pointer;
}

a , a:hover{
    color: black;
    text-decoration: none;
}

.product:hover{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
}

.product .btn-accent {
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}

.product:hover .btn-accent {
    opacity: 1;
    transform: translateY(0%);
}

.font-sm{
    font-size: 14px;
}

.text-main{
    color: var(--main-color);
}

.bg-main{
    background-color: var(--main-color) !important;
}

.bg-main-light {
    background-color: var(--light-color) !important;
}

.menu li > *:not(ul):not(.menu-title):not(details):active, .menu li > *:not(ul):not(.menu-title):not(details).active, .menu li > details > summary:active {
    color: var(--main-color);
    font-weight: bolder;
    background-color: transparent;
}

.btn-accent {
    --tw-text-opacity: 1;
    color: var(--light-color);
    outline-color: var(--main-color);
    background-color: var(--main-color);
}

.btn-accent {
    --btn-color: var(--main-color);
}

.btn-accent:hover {
    background-color: #39d039;
}

.title{
    color: #121212;
}

.sub-title{
    color: #767575;
}

.input-bordered {
    border-color: #bdbcbc;
}

.input {
    flex-shrink: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    line-height: 2;
    line-height: 1.5rem;
    border-radius: var(--rounded-btn, 0.5rem);
    border-width: 1px;
    border-color: #bdbcbc;
    --tw-bg-opacity: 1;
    background-color: #fff;
    outline: none;
    outline-color: transparent;
}

.error {
    color: #fc8181;
    font-size: 0.75rem;
    text-align: left;
    margin-top: 0.25rem;
}

form {
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
}

form label {
    font-size: 1rem;
    font-weight: bold;
    display: block;
    text-align: left;
    margin: 1rem 0 0.2rem;
}

input{
    width: 100%;
    padding: 0.65rem 0.5rem;
    font-size: 1rem;
    color: #000;
    border: 2px solid #c5c5c5;
    background-color: #ffffff;
    border-radius: 10px;
    outline: none;
}

input.input-error,
select.input-error{
    border-color: #fc8181;
}

.btn[disabled], .btn:disabled {
    background-color: #0aad0a;
    opacity: 0.6;
    color: #eeeeee9b;
}

.show {
  display: block; /* Initially visible */
}

.show.hidden {
  display: none; /* Hide the item */
}

.slick-prev:before, .slick-next:before {
    display: none !important;
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: none !important;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}